.wrapInfo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: #ffffff;
    padding: 20px;
    border: 4px solid black;
    border-radius: 20px;
}
