.title{
    font-size: 2rem;
    text-shadow: 0px 3px 20px #ffffff;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
    padding: 10px;
    color: #ffffff;
}

.wrapcards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 2vh;
    padding: 20px;
    color: aliceblue;
    width: 100%;
}

@media(width >= 768px){
    .tittle{
        font-size: 4rem;
    }
}